<section class="d-flex justify-content-center align-content-center">

        <div>
            <div class="mt-5">
                <main class="container">
                    <div class="subLetter d-flex justify-content-center mt-2">
                        <h1 routerLink="/inicio">Subterranea Store</h1>
                    </div>
                    <div class="mt-2">
                        <h3>Arte y accesorios para la escena underground</h3>
                    </div>
                    <div class="mt-5">
                        ¡Bienvenido a Subterránea! Si eres un amante de la escena underground, esta es tu tienda. Aquí encontrarás todo lo que necesitas para expresar tu personalidad y estilo.
                    </div>
                    <div class="p-4 p-md-5 mt-3 mb-4 rounded text-body-emphasis bg-body-secondary">
                      <div class="col-lg-6 px-0">
                        <h1 class="display-4 fst-italic"><b>La habitación 712</b></h1>
                        <p class="lead my-3">En un pequeño pueblo de España, había un hotel abandonado que se decía que estaba embrujado. La habitación 712 era la más...</p>
                        <p class="lead mb-0" routerLink="/blog"><u>Continua leyendo...</u></p>
                      </div>
                    </div>



                    <div class="row g-5">
                      <div class="col-md-8">
                        <h3 class="pb-4 mb-4 fst-italic border-bottom">
                          Desde el subterraneo
                        </h3>

                        <article class="blog-post">
                          <p>Subterránea es una tienda online que vende arte y accesorios para la escena underground. Ofrecemos una amplia gama de productos, desde réplicas de arte de artistas underground famosos hasta estatuillas de monstruos y demonios, prendas de ropa con diseños góticos y libros de historia de terror.</p>
                          <hr>
                        </article>


                        <article class="blog-post">
                          <h2 >Arte </h2>
                          <p>William Blake fue un poeta, pintor y grabador inglés que vivió entre 1757 y 1827. Es considerado uno de los artistas más importantes del Romanticismo, y su obra es reconocida por su originalidad, su visión profética y su compromiso con la libertad de expresión.</p>

                        </article>

                        <nav class="blog-pagination" aria-label="Pagination">
                          <a class="btn btn-outline-primary rounded-pill" routerLink="/shop">Galeria</a>
                        </nav>

                      </div>

                      <div class="col-md-4">
                        <div class="position-sticky" style="top: 2rem;">
                          <div class="p-4 mb-3 bg-dark rounded">
                            <h4 class="fst-italic">Disclaimer</h4>
                            <p class="mb-0">Subterránea es una tienda online que vende arte y accesorios para la escena underground. Algunos de nuestros productos pueden contener imágenes o descripciones que pueden resultar ofensivas o molestas para algunas personas.</p>
                            <p class="mb-0">En particular, algunos de nuestros productos pueden:</p>
                            <ul>
                                <li>Representar temas o imágenes de terror, gore o violencia.</li>
                                <li>Utilizar un lenguaje o humor que pueda considerarse ofensivo.</li>
                                <li>Hacer referencia a temas o creencias religiosas o espirituales que puedan ser controversiales.</li>
                            </ul>
                            <p class="mb-0">Si eres sensible a este tipo de contenido, te recomendamos que no visites nuestra tienda o que no compres nuestros productos.</p>
                            <p class="mb-0">Agradecemos tu comprensión.</p>
                            <img class="w-100" src="assets/img/Skull.gif" alt="">
                          </div>

                          <div>
                            <h4 class="fst-italic">Recent posts</h4>
                            <ul class="list-unstyled">
                              <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                                  <div class="col-lg-8">
                                    <h6 class="mb-0">Example blog post title</h6>
                                    <small class="text-body-secondary">January 15, 2023</small>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                                  <div class="col-lg-8">
                                    <h6 class="mb-0">This is another blog post title</h6>
                                    <small class="text-body-secondary">January 14, 2023</small>
                                  </div>
                                </a>
                              </li>
                              <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                                  <div class="col-lg-8">
                                    <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                    <small class="text-body-secondary">January 13, 2023</small>
                                  </div>
                                </a>
                              </li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>

                  </main>
            </div>
            <div>

            </div>

        </div>

</section>
