<section>
    <div class="row justify-content-center">
        <div class="d-none col-lg-3 d-lg-block navSpace d-flex justify-content-center align-items-center">
            <app-navbar></app-navbar>
        </div>
        <div class="col-12 col-lg-9 scrollGeneral p-0">
            <div class="sticky-top">
                <app-header></app-header>
            </div>
            <div class="dinamicContent">
                <router-outlet></router-outlet>
            </div>
            <div>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</section>
