<header>
    <h1>Carrito de compras</h1>

  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="producto1.jpg" alt="Producto 1"></td>
          <td>Producto 1</td>
          <td>$100</td>
          <td>1</td>
          <td><button>Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </main>
