<header>
    <h1>Carrito de compras</h1>

  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of sc | async">
          <td><img src="{{prod.imagen}}" alt="{{prod.imagen}}" ></td>
          <td>{{prod.nombre}}</td>
          <td>{{prod.precio}}</td>
          <td>1</td>
          <td><button>Eliminar</button></td>
        </tr>
      </tbody>
    </table>

    <p *ngFor="let prod of sc | async">

        {{prod}}

    </p>
  </main>
