<header>
    <h1>Carrito de compras</h1>

  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of sc | async">
          <td><img src="{{prod.urlImg}}" alt="{{prod.urlImg}}" width="50" height="50"></td>
          <td>{{prod.nombre}}</td>
          <td>{{prod.precio * prod.cantidad}}</td>
          <td>{{prod.cantidad}}</td>
          <td><button>Eliminar</button></td>
        </tr>
      </tbody>
    </table>
 </main>
